{% extends 'base.html.twig' %}

{% block title %}Meus Jogos{% endblock %}

{% block body %}
  <h1 class="title">Meus Jogos</h1>
  <ul>
    <li>Super Mario World - Novo</li>
    <li>Super Metroid</li>
    <li>Donkey Kong Country 2</li>
  </ul>
{% endblock %}
